
body {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #141414;
    background: #f1f1f1;
}

.home {
    background: #141414;
    color: white;
}

.movie {
    background: #f1f1f1;
    padding-top: 50px;
    text-align: left;
}


.footer {
    padding-top: 100px;
    padding-bottom: 50px;
}

.footer a, .footer a:focus, .footer a:visited, .footer a:hover {
    color: #141414 !important;
}

.form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

.search-card {
    border: 0;
    border-radius: 10px !important;
}

.card-body {
    padding: 0.75em !important;
    padding-left: 1.5em !important;
}

h1, h5 {
    font-weight: bold;
    color: #42b983;
}

h6.video {
    font-weight: bold;
    margin-top: 20px;
    color: #222222
}

.movie h5 {
    display: inline;
    padding-right: 20px;
}

.movie h1 {
    margin-top: 0;
    margin-bottom: 5px;
}

a, a:focus, a:hover, a:visited {
    color: #42b983;
    font-weight: bold;
    text-decoration: none;
}

.version {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 75%;
}
.results {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 75px;
    padding-right: 60px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 50px 5px;
    margin: 80px auto;
}
.gallery-panel img  {
    width: 200px;
    height: 300px;
    object-fit: cover;
    transition: transform .2s ease;
}

.poster-img {
    width: 200px;
    height: 300px;
    object-fit: cover;
}

.backdrop-img {
    height: 300px;
    object-fit: cover;
    margin: 10px;
}

.search {
    padding-top: 50px;
}

.search-group {
    margin: 20px;
}

.search-input {
    border: 1px solid white !important;
    background: transparent !important;
    color: white !important;

}

input:active, input:focus
{
    color: white;
    outline:0 !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}

.search-input::-webkit-search-cancel-button{
    -webkit-appearance: none;
}

.tmdb-logo {
    width: 200px;
}

.gallery-panel{
    position: relative;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.bookmark {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    width: 40px;
}

.bookmark-active {
    opacity: 1;
}

.bookmark-icon, .recommendations-icon, .open-icon {
    background-color: transparent;
    color: #4CAF50;
    font-size: 16px;
    padding: 10px;
    cursor: pointer;
}

.recommendations {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 40px;
    left: 0;
    text-align: center;
    width: 40px;
}

.open {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 80px;
    left: 0;
    text-align: center;
    width: 40px;
}

.gallery-panel:hover .image {
    opacity: 0.3;
}

.gallery-panel:hover .bookmark, .gallery-panel:hover .recommendations, .gallery-panel:hover .open {
    opacity: 1;
}

.link {
    cursor: pointer;
    color: #E5E5E5;
}

.back-link {
    color: #959595 !important;
}

.badge-watchlist {
    color: white;
    background: #4CAF50;
    position: relative;
    top: -2px;
}

.badge-genre {
    color: #4CAF50;
    background: white;
    margin-right: 10px;
}

.title {
    font-weight: bold;
    text-align: left;
    color: white;
}

.brand {
    cursor: pointer;
}

.overview {
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}

.details-header {
    margin-bottom: 20px;
    color: #42b983;
}

.tagline {
    font-weight: bold;
}


